body{
    background-color: #012;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 1920px;
    overflow-x: hidden;
}

.hidden{
    background-color: #3f673f;
    transition: all 1s;
}

.hidden > *{
    opacity: 0;
    transition: all 1s;
}

.onleft .project-card{
    opacity: 0;
    transform: translateX(-30%);
    transition: all 1s;
}

.onleft h2{
    opacity: 0;
    transform: translateX(-30%);
    transition: all 0.5s;
}

.onright .project-card{
    transform: translateX(0%);
    opacity: 1;
}

.onright h2{
    opacity: 1;
    transform: translateX(0%);
}

.show{
    background-color: #012;
}

.show > *{
    opacity: 1;
}

p{
    font-size: 16px;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 64px;
    font-weight: 700;
}

a{
    text-decoration: none;
}

nav{
    z-index: 999;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    background-color: #FFF;
    padding: 10px 50px;
 
}

nav ul{
    padding: 0%;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
     
}

nav ul a{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #012;
}

nav ul a:hover{
    color: #3F673F;
    text-decoration: underline 2px;
    transition: 0.5s ease;
}

.hero-home{
    margin-top: 100px;
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero-home .wave{
    width: 120%;
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.wave-divider{
    width: 120%;
    position: relative;
    top: 0px;
    left: 0px;
}

.hero-home .main-logo{
    width: 30%;
    margin: 0 auto;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 400px;
}

.hero-header{
    text-align: center;
    color: #FFF;
    width: 50%;
    position: absolute;
    bottom: 250px;
    left: 25%;
    
}

.skills{
    height: 170vh;
    margin: -150px 0px;
    padding: 50px 50px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left, .right{
    width: 45%;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills-grid{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 30px;  
}

.skills-grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    
}

.more-btn{
    border: solid #FFF 0px;
    color: #FFF;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #3F673F;
}

.divider-top, .divider-bottom{
    width: 200%;
}

.divider-bottom{
    transform: rotate(180deg);
}

.content{
    max-width: 1920px;
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content h2{
    color: #FFF;
}

.card-container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


article{
    box-sizing: content-box;
    width: 25%;
    height: 200px;
    border-radius: 30px;
    padding: 30px;
    background: rgba(217, 217, 217, 0.70); 
    box-shadow: -25px 7px 14px 0px rgba(193, 193, 193, 0.25) inset;
    backdrop-filter: blur(15px); 
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transform: scale(1, 0);
    opacity: 0.75;
    transition: .5s ease;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
  }
  
  .project-card:hover .overlay {
    transform: scale(1, 1);
  }

  .overlay h3{
    color: #FFF;
  }

.shape-fill{
    fill: #012;
}

.wave-container {  
    height: 40vh;
    background-color: #012;
    position: relative;
  }
  
  .wave-container::before {   
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%233f673f'/></svg>");
  }
  
  @media(max-width:850px) {
    .wave-container::before {    
      height: 84px
    }  
  }

.wave-bottom{
    transform: rotate(180deg);
}

.projects .content{
    background-color: #3F673F;
    height: 500px;
    width: 100%;
}

.events, .events .content{
    background: linear-gradient(105deg, #3F673F 0%, #008B8B 100%);
}

.events .content{
    padding: 50px 0px;
}

footer{
    background-color: #012;
    color: #FFF;
}

.footer-content{
    padding: 50px 0px;
    display: flex;  
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;
}

.footer-section .social-row{
    margin-top: 20px;
    gap: 35px;
}

.footer-section .social-row img{
    width: 40px;
}

.footer-section h2{
    font-size: 32px;
}

.footer-section a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;

}

.footer-lower{
    background-color: #000;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-lower p{
    text-align: center;
}

.contact{
    height: 100vh;
    color: #FFF;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact img{
    width: 45px;
}

.social-row img{
    width: 70px;
}

.contact p{
    font-size: 24px;
}

.contact-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frost-contact{
    display: flex;
    flex-direction: column;
    gap: 0px;

    border-radius: 30px;
    background: rgba(217, 217, 217, 0.30);
    box-shadow: -25px 7px 14px 0px rgba(193, 193, 193, 0.25) inset;
    backdrop-filter: blur(15px);
    width: 540px;
    padding: 30px;
}

.contact-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 298px;
}

.social-row{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.contact-centered{
    transform: translate(-150px, 150px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frost-contact h3{
    font-size: 32px;
}

.frost-contact h4{
    font-size: 32px;
    width: 366px;
}